<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    
	<bean id="loginAction" class="com.fudan.rserp.security.login.LoginAction">
		<property name="loginService" ref="loginService"/>
	</bean>
	<bean id="tgglAction" class="com.fudan.rserp.module.tggl.TgglAction">
		<property name="service" ref="tgglService"/>
	</bean>
	<bean id="htglAction" class="com.fudan.rserp.module.htgl.HtglAction">
		<property name="service" ref="htglService"/>
	</bean>
	
	
	<bean id="ajaxAction" class="com.fudan.rserp.module.ajax.AjaxAction">
		<property name="service" ref="ajaxService"/>
	</bean>
	<bean id="yhglAction" class="com.fudan.rserp.module.yhgl.YhglAction">
		<property name="service" ref="yhglService"/>
	</bean>
</beans>