<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="loginService" parent="basicTxProxy">
		<property name="target">
			<bean class="com.fudan.rserp.security.login.LoginService">
				<property name="loginDao" ref="loginDao" />
			</bean>
		</property>
	</bean>
	<bean id="tgglService" parent="basicTxProxy">
		<property name="target">
			<bean class="com.fudan.rserp.module.tggl.TgglService">
				<property name="dao" ref="tgglDao" />
			</bean>
		</property>
	</bean>
	<bean id="htglService" parent="basicTxProxy">
		<property name="target">
			<bean class="com.fudan.rserp.module.htgl.HtglService">
				<property name="dao" ref="htglDao" />
			</bean>
		</property>
	</bean>
	
	
	
	<bean id="ajaxService" class="com.fudan.rserp.module.ajax.AjaxService" singleton="false">
		<property name="dao" ref="ajaxDao"></property>
	</bean>
	<bean id="yhglService" parent="basicTxProxy">
		<property name="target">
			<bean class="com.fudan.rserp.module.yhgl.YhglService">
				<property name="dao" ref="yhglDao" />
			</bean>
		</property>
	</bean>
</beans>
